*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html{
    font-family: 'Rubik', sans-serif;
    line-height: 1;
    font-weight: 400;
    font-size: 62.5%;
}

body{
    background-color: #fdf2e9;
    color:#212529;
}

.logo{
    height: 2.2rem;
}

.section-hero{
    height: 80vh;
    max-width: 130rem;
    margin: 0 auto;
    display: flex;
    padding:32px;
    grid-template-columns: 1fr 1fr;
    gap:8rem;
    align-items: center;
}


.hero-img{
    max-width: 500px;
}

.delivered-imgs {
    display: flex;
}

.delivered-imgs img {
    height: 4.8rem;
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.6rem;
    border: 3px solid #fdf2e9;
}

.delivered-imgs img:last-child {
    margin: 0;
}

.hero-txt{
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.hero-txt-principal, .hero-txt-description{
    margin-bottom: 24px;
}

.hero-txt-principal{
    font-size: 4.5rem;
}

.hero-txt-description{
    font-size: 2rem;
    line-height: 1.5;
    color:#495057;
}

.hero-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-txt-btn{
    text-decoration: none;
    background-color: hsla(28, 80%, 52%, 0.918);
    color:#fdf2e9;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 12px 24px;
    border-radius: 8px;
}

.secondary{
    background-color: antiquewhite;
    color:#495057;
}

.hero-txt-btn:link,
.hero-txt-btn:visited{
      transition: all 0.3s;
}

.hero-txt-btn:hover{
    background-color: hsla(28, 73%, 39%, 0.918);
    transition: all 0.3s;
}

.secondary:hover{
    background-color: #e4dad3;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 2.2rem;
    color:#495057;
}

.main-nav-list{
    display:flex;
    list-style: none;
    gap: 1.6rem
}

.main-nav-link{
    text-decoration: none;
    color:#495057;
    font-size: 1.2rem;
    font-weight: 500;
}

.nav-cta{
    background-color: hsla(28, 80%, 52%, 0.918);
    color:#fdf2e9;
    font-weight: 500;
    font-size: 1.5rem;
    padding: 12px 24px;
    border-radius: 9px;
}

.nav-cta:hover{
    background-color: hsla(28, 73%, 39%, 0.918);
    
}

.section-featured{
    background-color:#fff ;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading-featured-in{
    color:#49505786;
    margin-bottom: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1rem;
}

.logos{
    display: flex;
    gap:2.2rem;
}

.logos img {
    height: 2.2rem;
    filter: brightness(0);
    opacity: 50%;
}

.delivered-text{
    font-size: 1.8rem;
    font-weight: 600;

}

.delivered-meals{
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 8rem;

}

.delivered-text span{
    color:hsla(28, 80%, 52%, 0.918);
}
